body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #c2c9d1;
}
nav {
  box-shadow: 3px 1px 5px 0px #000000bf;
  background-color: #34495e ;
}
aside h1 span{
  font-size: 29px;
  color: white;
  text-decoration: none;
}
aside {
  width: 250px;
  height: 100vh;
  background: #34495E;
  position: fixed;

  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-shadow: 3px 1px 5px 0px #000000bf;
}

aside ul {
  padding-inline-start: 0;
}

aside ul li {
  list-style: none;
  font-size: 15px;
  padding: 20px 0;
  cursor: pointer;
  color: #fff;
}

aside ul li a {
  color: #fff;
  text-decoration: none;
}

aside ul li .fas {
  width: 20px;
}
aside ul li .fa-solid {
  width: 20px;
}

.aside-wrapper {
  padding: 0 40px;
  box-sizing: border-box;
}

.logo-text {
  font-size: 32px;
  position: relative;
}

.sidebar-toggle {
  position: absolute;
  top: 5px;
  left: 205px;
  background: #34495e;
  padding: 4px 11px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

input {
  display: none;
}

/* Toggler Functionality */
input:checked ~ aside {
  left: -250px;
}

/*Footer*/
footer{
  margin-top: 60px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c2c9d1;
  color: white;
}
.footer-body {
  margin-top: 15px;
  color: white;
}
  /*end Footer*/
